[Desktop Entry]
Type=Application
Name=Chatot
Comment=Unofficial WhatsApp client
Exec=chatot
Icon=com.sezdm.chatot
Terminal=false
Categories=Network;InstantMessaging;GTK;
Keywords=WhatsApp;chat;messaging;messages;
StartupNotify=true
StartupWMClass=com.sezdm.chatot
